---
// Import the global.css file here so that it is included on
// all pages through the use of the <SEO /> component.
import "../styles/globals.scss";
import SectionContainer from "@/components/SectionContainer.astro";
import SEO from "@/components/seo/SEO.astro";
import { Icon } from "astro-icon";
import { SOCIALS, SITE } from "@config";

const currentYear = new Date().getFullYear();

const {
    class: className,
    title,
    description,
    keywords,
    url,
    twitterhandle,
    image
} = Astro.props;

const siteTitle = [SITE.title, title].filter(it => !!it).join(" | ");
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <SEO
            title={siteTitle}
            description={description}
            keywords={keywords}
            url={url}
            image={image}
        />
    </head>
    <body>
        <main class={className}>
            <slot />
        </main>

        <SectionContainer class="mt-32">
            <footer class="py-40 bg-neutral-50">
                <div class="wrap-sm mx-auto px-8 grid gap-16">
                    <h2
                        id="contact"
                        class="font-medium text-4xl md:text-6xl lg:text-7xl leading-10 lg:leading-[70px] tracking-tight lg:tracking-tighter"
                    >
                        Let&apos;s make{" "}
                        <span
                            class="text-neutral-500 inline font-bold underline-offset-4 underline"
                        >
                            awesome work
                        </span>{" "}
                        together.
                    </h2>
                    <div class="leading-10 tracking-tight lg:tracking-tighter space-y-4">
                        <p
                            class="text-neutral-500 font-medium text-3xl md:text-5xl lg:text-4xl"
                        >
                            I'm currently dedicating my skills full-time as an engineer at Google, thriving amidst innovation and technology.
                        </p>
                        <p class="prose">
                            However, I'm always intrigued by groundbreaking ideas and ambitious projects.
                            If you're navigating through the exciting waters of innovation and need a seasoned engineer to help steer your ship in the right direction,
                            feel free to reach out. Let's explore how I can contribute to turning your visionary ideas into reality.
                        </p>
                    </div>
                    <div class="footer-credits text-neutral-500">
                        <a
                            class="block text-3xl md:text-5xl lg:text-4xl font-medium mb-2 md:mb-8 lg:mb-4 leading-10 tracking-tighter relative hover:underline hover:-top-0.5 hover:text-skin-accent hover:text-black focus-visible:p-1"
                            href="mailto:hello@michal-pasierbski.me"
                        >
                            hello@michal-pasierbski.me
                        </a>
                        <div
                            class="footer-socials font-medium flex gap-6 md:gap-10 max-w-md text-xl md:text-3xl lg:text-2xl leading-10 tracking-tighter"
                        >
                            {
                                SOCIALS.filter((social) => social.active).map(
                                    (social) => (
                                        <a
                                            href={social.href}
                                            class="relative hover:underline hover:-top-0.5 hover:text-skin-accent hover:text-black focus-visible:p-1 flex items-center"
                                            target="_blank"
                                            title={social.title}
                                        >
                                            <Icon
                                                name={social.icon}
                                                class="w-10 h-10 inline"
                                            />
                                        </a>
                                    )
                                )
                            }
                        </div>
                    </div>
                    <span
                        class="text-neutral-500 text-md flex flex-wrap gap-4 md:gap-0 md:justify-between"
                    >
                        <span
                            >Copyright © 2023 - {currentYear} Michał Pasierbski</span
                        >
                    </span>
                </div>
            </footer>
        </SectionContainer>
    </body>
</html>
